<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>448560574039-lq3rbda09a575rhib97469oea6kk2254.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.448560574039-lq3rbda09a575rhib97469oea6kk2254</string>
	<key>API_KEY</key>
	<string>AIzaSyANHbmSm7fU4xs13Y8q0m634cKbNkPmsP4</string>
	<key>GCM_SENDER_ID</key>
	<string>448560574039</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>snap-clone-543d7</string>
	<key>STORAGE_BUCKET</key>
	<string>snap-clone-543d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:448560574039:ios:61a2db9c284bb9cc0ffd12</string>
</dict>
</plist>